
/*-----header----*/
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}




/*-------about me body---------*/


.profilepicture {
	height: 200px;
	width: 250px;

}
.about-me {
	/*background-color:#666666;*/
	width: 21%;
}



/*******-------panel--------*/
.panel2 {
	height: 65px;
	width: 65px;
	padding: 5px;
}








/*********88----------GALLERY PICS------*******/

.portfolio-bodyimages {
		
		height: 350px;
		width: 380px;
		padding: 20px;
		position: relative;
		
	}
.caption {
	width:87.3%;
	bottom: 2rem;
	position: absolute;
	background-color: #000000;
	color:  #ffffff;
	text-align: center;
	padding-top: 2px;
	margin-left:5.2%;

}
	}

	html {
		background-image: url('../images/travel.png');
	}
	body {
		background-image: url('../images/travel.png');
	}

	









/*----FOOTER---*/
.footer{
  	  	clear:both;
        padding:5%;
  		width: 100%;
  		background-color: #666666;
  		border-top: 8px solid;
  		border-color: #4aaaa5;
  		color: #fff;
  		padding: 2em 0;
  		text-align: center;
  		margin-top:;
  		position: absolute;
  		bottom:0;
  		height: 2em;
  	}